.SideBar {
    display: flex;
    flex-direction: column;
    padding: 1.6rem 0 0 1.5rem;
    box-sizing: border-box;
    color: white;
    width: 17.5rem;
    background: #000000;
}

.Logo {
    box-sizing: border-box;
    font-size: 2.6rem;
    display: flex;
    justify-content: flex-start;
    gap: 0.3rem;
    align-items: center;
}

.Logo span {
    letter-spacing: -2px;
    font-weight: 600;
    font-size: 1.6rem;
}

.Navigation {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    align-items: center;
}

.Navigation ul {
    all: unset;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

li {
    all: unset;
    cursor: pointer;
    display: flex;
    width: 100%;
    min-height: 1.8rem;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.3rem;
    transition: .5s;
}

li:hover {
    color: #ffffff;
}

.InActive {
    color: #9f9e9e;
}

.Active {
    color: #ffffff;
}


.ReactIcon {
    width: 25px;
    font-size: 24px;
}

.Icon, .AddIcon {
    width: 25px;
    height: 25px;
    transition: .5s;
}


.AddIcon.Black {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    border-radius: 2px;
    background-color: #9f9e9e;
    color: black;
}

li:hover .AddIcon.Black {
    background-color: white;
}

.AddIcon.Background {
    background-color: white;
}

.Liked {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 2px;
    width: 25px;
    height: 25px;
    color: #9f9e9e;
    background: rgb(223, 223, 223);
    background: linear-gradient(315deg, rgba(223, 223, 223, 1) 0%, rgba(153, 142, 218, 1) 51%, rgba(74, 111, 215, 1) 100%);
    -webkit-box-shadow: inset 0px 0px 100px 8px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0px 0px 100px 8px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 0px 100px 8px rgba(0, 0, 0, 0.2);
    transition: .5s;
}

.Light {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 2px;
    width: 25px;
    height: 25px;
    transition: .5s;
    background: rgb(223, 223, 223);
    color: white;
    background: linear-gradient(315deg, rgba(223, 223, 223, 1) 0%, rgba(153, 142, 218, 1) 51%, rgba(74, 111, 215, 1) 100%);

}

li:hover .Liked {
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    box-shadow: unset;
    background: rgb(223, 223, 223);
    color: white;
    background: linear-gradient(315deg, rgba(223, 223, 223, 1) 0%, rgba(153, 142, 218, 1) 51%, rgba(74, 111, 215, 1) 100%);
}

.HeartIcon {
    font-size: 14px;
}

.Navigation span {
    font-weight: 500;
    font-size: 0.9rem;
}

.Navigation ul:last-child {
    margin-top: 2rem;
}